<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2009 Sun.Hao(https://www.crazy-coder.cn/)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  ~ Copyright (C) 2019 Sun.Hao(https://www.crazy-coder.cn/)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<mapper namespace="lodsve.mybatis.dao.DemoMapper">
    <update id="logicDelete2">
        update t_demo
        set enabled = #{value}
        where id = #{id}
    </update>
    <update id="updateNameById">
        update t_demo
        set name = #{name}
        where id = #{id}
    </update>
    <update id="updateAllColumnByEntity">
        UPDATE t_demo
        <trim prefix="SET" suffixOverrides="," suffix="WHERE id = #{id}">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="enabled != null and enabled != ''">
                enabled = #{enabled},
            </if>
            <if test="lastModifiedBy != null and lastModifiedBy != ''">
                last_modified_by = #{lastModifiedBy},
            </if>
            <if test="lastModifiedDate != null and lastModifiedDate != ''">
                last_modified_date = #{lastModifiedDate},
            </if>
            <if test="disabledDate != null and disabledDate != ''">
                disabled_date = #{disabledDate},
            </if>
        </trim>
    </update>

    <select id="list" resultType="lodsve.mybatis.domain.Demo">
        <bind name="nameLike" value="'%' + name + '%'"/>
        select *
        from t_demo where name like #{nameLike} and id > #{id}
    </select>
</mapper>